@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html,
body,
#__nuxt,
#__layout {
    height: 100% !important;
    width: 100% !important;
    font-family: 'Comfortaa', cursive;
    background-color: #171923;
    color: #edf2f7;
    /* background-image: linear-gradient(65deg, #200037, #32ded4); */

}

* {
    margin: 0;
    padding: 0;
}


h2 {
    color: #4fd1c5;
}

button {
    background-color: #2d3748;

}

.main {
    width: 100%;
    height: 100%;
}


.box {
    border-radius: 1rem;
    background-color: #2d3748;
    box-shadow: #12151c 0.4rem 0.4rem;
    overflow: hidden;
}